@use 'sass:math';
@import '../Variables.scss';

.menu {
    position: fixed;
    z-index: 1;
    width: 100%;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            min-width: 470px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                margin: 0 0 0 $margin;
                font-weight: 100;
                font-size: 28px;
                &:hover {
                    text-decoration: underline;
                }
                &:first-child {
                    margin: 0;
                }
            }
        }

        .open-menu-btn {
            margin: $margin;
            text-align: center;
            color: $black;
            font-size: 30px;
            text-decoration: none;
            padding: math.div($padding, 2);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            min-width: 38px;
            min-height: 38px;
        }

        .open-menu-btn-inverted {
            color: $white;
            background-color: $black;
        }
    }

    .navigation-inverted {
        background-color: $white;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: background-color 1s linear;
    }

    .large {
        padding: $padding;
    }

    a {
        text-decoration: none;
        color: $black;
    }
    .drop-down {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $white;
        a {
            padding: $padding;
            color: $black;
        }
    }

    h1 {
        color: $black;
        margin: 0 $margin;
        font-size: 45px;
        font-weight: 100;
        text-transform: uppercase;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    @media (max-width: $mediaQueryBrake) {
        h1 {
            font-size: 30px;
        }
        a {
            color: $white;
        }
        .navigation-inverted {
            a {
                color: $black;
            }
        }
    }
}