@import '../Variables.scss';

#main-menu-phone {
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 1;
}

/* Style the navigation menu */
.topnav {
    @extend #main-menu-phone;
    padding: $padding;
    background: $white;
    max-width: $maxWith;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
        color: $black;
        padding: $padding / 2;
        text-decoration: none;
        font-size: $fontSize;
        display: block;
        font-weight: bold;
    }
}

.menu-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    color: $white;
    a {
        min-width: 38px;
        min-height: 38px;
        text-align: center;
        margin: $margin;
        color: inherit;
        font-size: 30px;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        border-radius: 50%;
    }

    h1 {
        margin: $margin;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}